html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#torres {
    display: flex;
    justify-content: space-around;
}

.disco1 {
    width: 90px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}

.disco2 {
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
}

.disco3 {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    background-color: indigo;
}

#torreStart {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 110px;
    height: 100px;
    background-color: aqua;
}

#torreOffset {
    margin: 0 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 110px;
    height: 100px;
    background-color: aqua;
}

#torreEnd {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 110px;
    height: 100px;
    background-color: aqua;
}

.discoSelecionado {
    margin-bottom: 10px;
}

#boxMovimentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#boxBanner {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 50vh;
    display: none;
    align-items: center;
}

#banner {
    background-color: white;
    width: 50%;
    min-width: 300px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}