@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 15px;
}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

#torres {
    display: flex;
    justify-content: space-around;
}

.disco1 {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: blue;
    display: none;
}

.disco1:hover{
    cursor: pointer;
}

.disco2 {
    width: 85px;
    height: 20px;
    border-radius: 10px;
    background-color: red;
    display: none;
}

.disco2:hover{
    cursor: pointer;
}

.disco3 {
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    display: none;
}

.disco3:hover{
    cursor: pointer;
}

.disco4 {
    width: 55px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
    display: none;
}

.disco4:hover{
    cursor: pointer;
}

.disco5 {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: indigo;
    display: none;
}

.disco5, #torreStart, #torreOffset, #torreEnd:hover{
    cursor: pointer;
}

#torreStart {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 10px;
    height: 120px;
    background-color: black;
}

#torreOffset {
    margin: 0 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 10px;
    height: 120px;
    background-color: black;
}

#torreEnd {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 10px;
    height: 120px;
    background-color: black;
}

.discoSelecionado {
    margin-bottom: 10px;
}
button{
    border-radius: 3px;
}
button:hover{
    cursor: pointer;
}

#boxMovimentos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border: 2px solid black;
    width: min-content;
    align-self: center;
    border-radius: 4px;
}
#boxMovimentos h2{
    border-bottom: 1px solid;
    padding: 3px 3px 0;
}
#boxBanner {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
}

#banner {
    background: #DCE35B;
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    background: linear-gradient(to right, #45B649, #DCE35B);    
    width: 50%;
    min-width: 300px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#banner h2{
    font-weight: bolder;
    font-size: 30px;
    color: hsl(208, 100%, 50%);
}

#banner p{
    font-size: 20px;
    color: #ffffff;
}

#banner button{
    background-color: aquamarine;
    font-size: 20px;
    border: 1px solid black;
    height: 50px;
    width: 160px;
    border-radius: 5px;
}

#boxBannerDificuldade {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#bannerDificuldade {
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    width: 10%;
    min-width: 100px;
    height: 100px;
    position: relative;
    top: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#bannerDificuldade button{
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 16px;
}

#botaoFacil {
    background-color: hsl(263, 100%, 70%);
    border: 1px solid black;
    color: #ffffff;
}

#botaoMedio {    
    background-color: hsl(240, 100%, 50%);
    border: 1px solid black;
    color: #ffffff;
}

#botaoDificil {
    background-color: hsl(0, 100%, 50%);
    border: 1px solid black;
    color: #ffffff;
}


@media (min-width:768px){
    .disco1{
        width: 120px;
        height: 25px;
    }

    .disco2{
        width: 105px;
        height: 25px;
    }

    .disco3{
        width: 90px;
        height: 25px;
    }

    .disco4{
        width: 75px;
        height: 25px;
    }
    .disco5{
        width: 60px;
        height: 25px;
    }

    #torreStart {
        width: 15px;
        height: 135px;
    }
    #torreOffset{
        width: 15px;
        height: 135px;
    }

    #torreEnd{
        width: 15px;
        height: 135px;  
    }

    #boxMovimentos h2, #boxMovimentos p {
        font-size: 20px;
    }
    h1{
        margin-top: 20px ;
        font-size: 50px;
    }
}